<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <img src= "{% static 'image/KNUEAT.jpg' %}"  alt="d">    
        <h1 style ="font-size: 3rem; font-family: 'Jua', sans-serif;">환영합니다.</h1>
    </div>
    <div class="login" style="text-align: center;">
        <hr>
        <form style="font-size:2rem;
                text-align: center;
                font-family: 'Jua', sans-serif;"
                method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <br>
            &nbsp;&nbsp;
            아이디 : <input style="padding: 10px;" placeholder="아이디" type="text" name="userID"><br><br>
            비밀번호 : <input style="padding: 10px;" placeholder="비밀번호" type="password" name="password"><br><br>
            
            <input style="  
                    background-color: black; /* Green */
                    border: none;
                    color: white;
                    padding: 2px 20px;
                    border-radius: 10px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    font-family: 'Jua', sans-serif;"
                    type="submit" value="로그인">
        </form>
    </div>

</body>
</html>

