<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <link rel="stylesheet" href="{% static 'css/mypage_own.css'%}">
    <title>mypage</title>
</head>

<body>
    <div class="page-header">
        <h1>my page&nbsp<a href="{% url 'home' %}"><img class="icon" src="{% static 'img/home.png' %}"></a></h1>
    </div>
    
    
    <!-- 개인 정보 -->
    <div class= 'myinfo'>
        <br>
        <div class= 'name'><font class = "P1">{{user.profile.name}}</font></div>

        <div class= 'contact'><font class = "P2">{{ user.profile.phonenumber }}</font></div>
        <h2>
           
        </h2>
        
        <!-- <button>Edit</button> -->
    </div>

    <!-- 내 가게 목록 -->
    {% if my_shop %}
        <div class='my_shop'>
            <font class = "P3">내 가게</font>
            <div class="like-container">
                {% for shop in my_shop %}
                    <div class="like-card">
                        <a href="{% url 'restaurant' user.profile.shop_id %}"> 
                            {% if shop.photo %}<p class ="like-card-image">
                            <img src="{{shop.photo.url}}" alt="" height="200px"></p><br>
                        {% else %}
                            <img src="{% static 'nyam/{{shop.category}}.png' %}"alt="" height="200px">
                        {% endif %}
                        
                    </div>
                {% endfor %}

                <div class="bton">
                    <a href="{% url 'register_menu' %}">메뉴 등록</a>
                </div>
                <br>

                <div class="bton">
                    <a href="{% url 'reservation_manage' %}">예약 관리</a>
                </div>
            
            </div>
    {% else %}
        <div class="bton">
            <a href="{% url 'register_store_page' %}">가게 등록</a>
        </div>
        <br>
    {% endif %}


        <br><br>
    </div>
    
    
    
<!--
    예약 관리 
    <div class='today_recommend'>
        예약 관리
        <div>
            승인전
        </div>


        <br><br>

        <div>
            승인완료
        </div>

    </div>-->
</body>
</html>
