<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 200px;
            height: 200px;
        }
        .restaurant{
            color:black;
            font-size: 18px;
            display: flex;
        }
        .card{
            display: inline-block;
            padding: 0 20px;
        }
        .card-title{
            font-weight: bold;
            font-size: 24px;
        }
        a{
            text-decoration: none;
            color:black;
        }
    </style>
</head>
<body>
    <h2>{{category_name}}</h2>
    {% for shop in shops %} <!--카테고리에 해당하는 식당 출력-->
    <div class='restaurant'><a href="{% url 'restaurant' shop.id %}">
        {% if shop.photo %}
            <img src="{{shop.photo.url}}">
        {% endif %}
        <div class="card">
            <p class="card-title">{{shop.name}}</p>
            {{shop.adress}}</a>
        </div>
    </div>
    {% endfor %}
</body>
</html>