<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>홈 화면</h2>
    <div class= 'KNUEAT_image'>
        <img src="" alt="">
    </div>

    </div>
    <div class='like'>
        즐겨찾는 가게:
    </div>

    <div class='today_recommend'>
        오늘의 추천:
    </div>

    <div class='category'>
        카테고리:
        <table border>
            <tr>
                <td><img src="" width=100 height=100></td>
            </tr>
            <tr>
                <td>카테고리1</td>
            </tr>
        </table>
    </div>
</body>
</html>