<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/like.css'%}">
    <title>즐겨찾기 목록</title>
</head>

<body>
    <div class="page-header">
        <h1>즐겨찾기 목록</h1>
        <h4>{{user.profile.name}}님이 즐겨찾는 식당</h4>
    </div>
        <div class="col-md-2"></div>
        <!-- 즐겨찾기 목록 -->
        <div class='like' align="center">
            <br>
            {% for like in likes %}
            {% if like.user == user %}
                <div style="height: 210px; padding: 6px; border:1px solid orange; float: center">
                    <a href="{% url 'restaurant' like.shop.id %}">
                        <div class = "container">
                            <div class="nav-image"><img src="{{like.shop.photo.url}}"></div></a>
                            <div class="content">
                                <div>가게이름: {{like.shop.name}}</div>
                                <div>평점: [평점]</div>
                                <div>주소: {{like.shop.address}}</div>
                            </div>
                            <a href="{% url 'restaurant' like.shop.id %}"><img src="{% static 'img/arrow.png' %}" align="right" width="50px" height="50px" ></a>
                        </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    
</body>
</html>