<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu Registering</title>
    <style>
        body {
            height: 100%;
            text-align: center;
        }

        label {
            width: 120px;
        }

        input {
            display: inline-block;
            width: 160px;
        }

      
    </style>
  </head>
<body>
    <form action="" method="POST" autocomplete="on">
        {% csrf_token %}
        <p><label>메뉴명 :
                <input type="text" id="storeName" placeholder="메뉴명 " name="name">
            </label>
        </p>
        <p><label>가격 :
                <input type="text" id="storeAddress" placeholder="가격 " name="price">
            </label>
        </p>
        <p>메뉴사진 업로드 <input type="file" name="photo"></p>
        <input type="submit" name="save" value="Save">
    </form>

</body>

</html>