<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-size:20px;
            text-align: center;
        }
        div{
            margin: 10px;
        }
        a{
            color:black;
            text-decoration: none;
        }
        a:hover{
            color:red;
        }
    </style>
    <title>예약 대기 목록</title>
</head>
<body>
    <h1>예약 대기목록</h1>
    <div>대표 예약자명: 박세희</div>
    <div>인원수: 2명</div>
    <div>시간: 오후 12:00</div>
    <div><a href="#">짬뽕 한그릇에 마음을 담다</a></div>
</body>
</html>