<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .restaurant_info{
            text-align: center;
        }
        .card-title{
            font-size:24px;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <div class= 'restaurant_image' style="text-align: center;">
        <img src="{{shop.photo.url}}" alt="" height="200px" width="30%">
    <div class='restaurant_info'>
        <p class="card-title">{{shop.name}}</p>
        
        <!--즐겨찾기 기능-->            
        <div style="display:flex; font-size: 2rem;" class="good">
            <div class="goodicon" style="flex: 1 1 1; font-size: 1rem;">
                {% if message == "즐겨찾기 취소" %}
                    <i class="xi-star xi-2x"></i>
                {% else %}
                    <i class="xi-star-o xi-2x"></i>
                {% endif %}
            </div>
            &nbsp 
            <div>
            <!--<a style="color:white; background-color: black;"href="{% url 'favorite' shop.id %}">
                {{message}}
            </a>-->
            &nbsp 
            </div>
            <div class="goodnum">
                즐겨찾는 사람 {{shop.like_count}}명
            </div>
        </div>
        <br>
        
        <p class="card-text">
        평점: 4.4<br>
        전화번호: {{shop.phone_number}}<br>
        주소: {{shop.adress}}<br>
        오픈시간: {{shop.open_time}}<br>
        마감시간: {{shop.close_time}}<br>
        정보: {{shop.description}}<br></p>
    </div>

    <div class='menu_n_review_button'>
        <a href="#"><input type="button" name="menu" value="메뉴"></a>
        <a href="#"><input type="button" name="menu" value="리뷰"></a>
    </div>
    {% for m in menu %}
    <div class='menu'>
        {{m.name}}
    </div>
    {% endfor %}
    <div class='review'>
        리뷰1
    </div>

    <div class='reservation'>
        <a href="{% url 'reservation' shop.id%}"><input type="button" name="reservation" value="예약하기"></a>
    </div>

</body>
</html>