<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 200px;
            height: 200px;
        }
        .restaurant{
            color:black;
            font-size: 18px;
            display: flex;
        }
        .card{
            display: inline-block;
            padding: 0 20px;
        }
        .card-title{
            font-weight: bold;
            font-size: 24px;
        }
    </style>
</head>
<body>
    {% if shop_name == "" %}
    <h1>검색 결과가 없습니다.</h1>
    {% else %}
    <h1>{{shop_name}} 결과입니다</h1>
    {% for s in shop %} <!--검색 단어가 포함된 식당 출력-->
    <div class='restaurant'><a href="{% url 'restaurant' s.id %}">
        {% if s.photo %}
        <img src="{{s.photo.url}}">
        {% endif %}
        <div class="card">
            <p class="card-title">{{s.name}}</p>
            {{s.adress}}</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>